<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td,
    th {
        padding: 0;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #cbcbcb;
    }

    table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center;
    }

    table td,
    table th {
        border-left: 1px solid #cbcbcb;
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible;
        padding: .5em 1em;
    }

    table thead {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }

    table td {
        background-color: transparent;
    }

    .line {
        height: 30px;
    }
</style>
<div>
    <h1>angular PDF server 渲染</h1>
    <div class="line">
    </div>
    <table id="list">
        <thead>
            <tr>
                <th>名字</th>
                <th>性别</th>
                <th>年龄</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{ name }}</td>
                <td>{{ gender }}</td>
                <td>{{ age }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>